<div>
  {{!-- <div id="subti">Kr-1</div> --}}

  <div id="div-img-index">
    <!-- Imagen del disco -->
    <div class="product-container">
      <a href="/pre">
        <img src="img/kr-1 x cover logo.png" id="img-disco" />
        <div class="hover-text">pre-escucha</div>
      </a>
    </div>

    <!-- Productos de merch -->
    <div class="merch-container">
      <a
        href="https://www.etsy.com/listing/1819007226/white-crop-top-ratchet-kr-1-bars?click_key=7e9dffe5c56ad40116395f4c3529ac9698d0bfe5%3A1819007226&click_sum=a376e9ed&ref=shop_home_active_3"
      >
        <img
          src="img/SIN FONDOCROP_TOP_BARRAS_RATCHET_WEB_CUADRADO-removebg-preview.png"
          alt="Producto 1"
          class="merch-image"
          data-amount="2000"
        />
        <div class="hover-text">White Crop-Top ''Ratchet Kr-1 Bars'</div>
      </a>
    </div>
    <div class="merch-container">
      <a
        href="https://www.etsy.com/listing/1833206495/white-crop-top-ratchet-fdp?click_key=66c1316c2823002099d6947377008930b7bec750%3A1833206495&click_sum=6b359595&ref=shop_home_active_2"
      >
        <img
          src="img/snfondoRATCHET_CROP_TOP_FDP_WEB_CUADRADO-removebg-preview.png"
          alt="Producto 2"
          class="merch-image"
          data-amount="2500"
        />
        <div class="hover-text">White Crop-Top ''Ratchet F.D.P''</div>
      </a>
    </div>
    <div class="merch-container">
      <a
        href="https://www.etsy.com/listing/1832662749/black-oversize-t-shirt-ratchet-fdp?click_key=2edb53da787566867365d839d4b255e3681edd9c%3A1832662749&click_sum=a1b0a1d4&ref=shop_home_active_4"
      >
        <img
          src="img/snnfondoRATCHET_CAMISETA_NEGRA_FDP_WEB_CUADRADO-removebg-preview.png"
          alt="Producto 3"
          class="merch-image"
          data-amount="3000"
        />
        <div class="hover-text">Black Oversize T-shirt "Ratchet F.D.P"</div>
      </a>
    </div>
    <div class="merch-container">
      <a
        href="https://www.etsy.com/listing/1819023294/ratchet-kr-1-cd-founders-edition?click_key=51d711740b9a31bd7582643315db25d8f144de39%3A1819023294&click_sum=257a9396&ref=shop_home_active_1"
      >
        <img
          src="img\kr-1 cd para vender web.png"
          alt="Producto 4"
          class="merch-image"
          data-amount="3500"
        />
        <div class="hover-text">Ratchet - Kr-1 CD ''Founder's Edition''</div>
      </a>
    </div>
  </div>

  <p id="copy">ratchet ©2025</p>
</div>