<h2 id="krPre">kr - PREORDER PRELISTEN</h2>
<p id="textoPre">
  escucha el disco antes de su lanzamiento a plataformas digitales
</p>
<form action="https://buy.stripe.com/8wMdUh5hJbyR3GE6oo" method="GET">
  <button type="submit" id="comprar">comprar</button>
</form>
<p id="copy">ratchet ©2025</p>
<script type="module" src="script.js"></script>