#ti {
  text-align: center;
  font-size: 6em;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}

p{
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  text-align: center; /* Asegura que el texto esté centrado */
}

/* Ajustes específicos para el botón de compra */
#comprar {
  width: 200px; /* Ancho del botón */
  height: 30px; /* Alto del botón */
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  text-align: center; /* Asegura que el texto esté centrado */
  display: flex; /* Hace del contenedor un contenedor flex */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  margin: 0 auto; /* Centra el botón dentro de su contenedor */
  background-color: black; /* Fondo oscuro para el botón */
  color: white; /* Texto blanco para el botón */
  border: none; /* Elimina el borde */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para hover */
}

#comprar:hover {
  background-color: white; /* Cambia el color de fondo cuando se pasa el cursor */
  color: black; /* Cambia el color del texto cuando se pasa el cursor */
}

#copy {
  position: relative; /* Permite que el elemento fluya con el contenido */
  text-align: center; /* Centra el texto */
  font-size: 0.9em; /* Ajusta el tamaño de fuente para móviles */
  padding: 10px; /* Espacio alrededor del texto */
}

#krPre {
  text-align: left;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#textoPre {
  text-align: center; /* Centra el texto horizontalmente */
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  margin-top: 50px;
  width: 80%; /* Puedes ajustar el ancho según lo necesites */
  margin-left: auto;
  margin-right: auto; /* Centra el contenedor */
}

#linkHome {
  text-decoration: none;
  color: inherit;
}

.product-container a {
  display: block; /* Hace que el enlace ocupe todo el contenedor */
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: inherit; /* Hereda el color del texto */
}

.product-container {
  text-align: center; /* Centra el contenido dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor horizontalmente */
  width: 20vw; /* Ajusta el ancho del contenedor */
  position: relative; /* Para posicionar el texto hover correctamente */
}

.product-container img {
  width: 100%; /* La imagen ocupa todo el contenedor */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease,
    box-shadow 0.3s ease;
}

/* Estilos para los productos de "merch" */
.merch-container {
  text-align: center;
  margin: 80px auto;
  width: 20vw; /* Ajusta el tamaño de las imágenes de merch */
  position: relative;
}

.merch-container-large {
  width: 30vw; /* Ajusta el tamaño de los productos 1, 2, 3 y 4 a un 30% del ancho de la pantalla */
}

.merch-container-medio{
  width: 25vw;
}

.merch-container img {
  width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
  height: auto;
  object-fit: contain; /* Evita recortes */
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease,
    box-shadow 0.3s ease;
}

.merch-container .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  opacity: 0;
  pointer-events: none; /* Evita interferencias en el hover */
  transition: opacity 0.3s ease;
}

.merch-container:hover img {
  transform: scale(1.05); /* Zoom suave al hacer hover */
  filter: brightness(0.85); /* Ajusta el brillo */
  cursor: pointer; /* Cambia el cursor a puntero */
}

.merch-container:hover .hover-text {
  opacity: 1; /* Muestra el texto al hacer hover */
}

#img-pre {
  width: 50%;  /* Ajusta el ancho */
  height: auto;  /* Mantiene las proporciones */
  display: block;   /* Hace que la imagen se comporte como un bloque */
  margin: 0 auto;   /* Centra la imagen dentro de su contenedor */
}

/*RESPONSIVE*/
/* Para pantallas de menos de 1024px (tabletas) */
@media screen and (max-width: 1024px) {
  #ti {
    font-size: 4em;
  }

  #subti {
    font-size: 1.8em;
    margin-top: 50px;
  }

  #botones {
    gap: 40px;
  }

  #bt-pre,
  #bt-me {
    width: 250px;
  }

  .product-container {
    width: 30vw;
  }

  .merch-container {
    width: 35vw;
  }
}

/* Para pantallas de menos de 768px (móviles) */
@media screen and (max-width: 768px) {
  #ti {
    font-size: 3em;
  }

  #img-pre {
    width: 70%;  /* Ajusta el ancho */
    height: auto;  /* Mantiene las proporciones */
    display: block;   /* Hace que la imagen se comporte como un bloque */
    margin: 0 auto;   /* Centra la imagen dentro de su contenedor */
  }
  

  #subti {
    font-size: 1.5em;
    margin-top: 30px;
  }

  #botones {
    flex-direction: column;
    gap: 20px;
  }

  #bt-pre,
  #bt-me {
    width: 200px;
  }

  #div-img-index {
    display: block;
  }

  .product-container {
    width: 80%;
  }

  .merch-container {
    width: 90%;
  }

  .product-container img,
  .merch-container img {
    border-radius: 5px;
  }
}

/* Para pantallas de menos de 480px (teléfonos pequeños) */
@media screen and (max-width: 480px) {
  #ti {
    font-size: 2em;
  }

  #subti {
    font-size: 1.2em;
  }

  button {
    font-size: 0.9em;
  }

  .hover-text {
    font-size: 20px;
  }

  #img-pre {
    width: 70%;  /* Ajusta el ancho */
    height: auto;  /* Mantiene las proporciones */
    display: block;   /* Hace que la imagen se comporte como un bloque */
    margin: 0 auto;   /* Centra la imagen dentro de su contenedor */
  }
  
}
