<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RATCHET</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="img/logoRatchet.jpg" type="image/x-icon" />

    <!--fuente lexend tera google-->
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&display=swap");
    </style>
  </head>
  <body>
    <div id="ti">
      <a href="/" id="linkHome">RATCHET</a>
    </div>
    {{{body}}}
  </body>
  <script src="script.js"></script>
</html>